<div class="edit" data-role="page">
  <div data-role="header">Mealyzer</div>
    <div role="main" class="ui-content">
    <h1>Mealyzer: Evaluate Mobile Submission #<%= @mobile_submission.id %></h1>
    <h4>User id:<%= @mobile_submission.uid %></h4>

    <%= image_tag(@mobile_submission.photo.url(:medium)) %>
    <br/><br/>

    <%= simple_form_for @mobile_submission do |f| %>
      <%= f.hidden_field :evaluated %>

      <div class="slider-container">
        <label>Carbs (g):</label>
        <input name="mobile_submission[carbs_eval]" type="range" min="0" max="100" value="0" data-highlight="true"/>
        <%= f.input :carbs_explain, :label => "Carbs Explanation" %>
      </div>

      <div class="slider-container">
        <label>Protein (g):</label>
        <input name="mobile_submission[protein_eval]" type="range" min="0" max="100" value="0" data-highlight="true"/>
        <%= f.input :protein_explain, :label => "Protein Explanation" %>
      </div>

      <div class="slider-container">
        <label>Fat (g):</label>
        <input name="mobile_submission[fat_eval]" type="range" min="0" max="100" value="0" data-highlight="true"/>
        <%= f.input :fat_explain, :label => "Fat Explanation" %>
      </div>

      <div class="slider-container">
        <label>Fiber (g):</label>
        <input name="mobile_submission[fiber_eval]" type="range" min="0" max="100" value="0" data-highlight="true"/>
        <%= f.input :fiber_explain, :label => "Fiber Explanation" %>
      </div>

      <%= f.submit "Submit", :class => "btn btn-primary" %>
      <br/><br/><br/>
    <% end %>
  </div>
</div>


<script>
  //$(document).ready(function(){new Mealyzer.Views.MobileSubmissionsView({el: '.edit'}); });
</script>
