<h3>Mealyzer Turk Study: Admin Panel</h3>

<ul>
  <li><%= link_to("Next available condition", new_user_path(@fake_turk_params)) %></li>
  <li><%= link_to("Seed phase", new_user_path(@fake_turk_params.merge(force_study_phase: "seed"))) %></li>
  <li><%= link_to("Explain phase", new_user_path(@fake_turk_params.merge(force_study_phase: "explain"))) %></li>
  <li>Main Phase
    <ul>
      <% User::CONDITION_NAMES.each_with_index do |name, i| %>
        <% cond = i + 1 %>
        <li>
          <% if User::MAIN_CONDITIONS.include?(cond) %>
            <%= link_to("Condition ##{cond}: #{name}",
              new_user_path(@fake_turk_params.merge(force_condition: cond, force_study_phase: "main"))) %>
          <% else %>
            <%= "Condition ##{cond}: #{name}" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </li>
  <li><%= link_to("Exit Admin Mode", "/admin", method: :delete) %></li>
</ul>

<h4>User Stats</h4>
<table class="stats user-stats">
  <tr class="top">
    <th></th>
    <th colspan="<%= User::MAIN_CONDITIONS.size + 2 %>">Complete</th>
    <th colspan="<%= User::MAIN_CONDITIONS.size + 2 %>">Incomplete</th>
  </tr>
  <tr>
    <th>Study</th>
    <% %w(Complete Incomplete).each do |comp| %>
      <th>Seed</th>
      <th>Explain</th>
      <% User::MAIN_CONDITIONS.each do |c| %>
        <th>#<%= c %></th>
      <% end %>
    <% end %>
  </tr>
  <% @studies.each do |s| %>
    <tr>
      <td><%= s %></td>
      <% [true, false].each do |comp| %>
        <td><%= @stats[[s, "seed", User::SEED_CONDITION, comp]] %></td>
        <td><%= @stats[[s, "explain", User::EXPLAIN_CONDITION, comp]] %></td>
        <% User::MAIN_CONDITIONS.each do |c| %>
          <td><%= @stats[[s, "main", c, comp]] %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<h4>Popular Answers &amp; Explanations</h4>
<table class="stats">
  <tr>
    <th>Meal</th>
    <th class="mci">Component</th>
    <th class="mci">Ingredient</th>
    <% 5.times do |i| %>
      <th class="ranked">#<%= i + 1 %></th>
      <th>Ans</th>
    <% end %>
  </tr>
  <% AnswerletSummarizer.new.top_5_for_all_ingredients.each do |mci, data| %>
    <tr>
      <td><%= data.first[:meal_id] %></td>
      <td><%= data.first[:component_name] %></td>
      <td><%= data.first[:ingredient] %></td>
      <% 5.times do |i| %>
        <td><%= data[i] ? data[i][:nutrients] : "" %></td>
        <td><%= data[i] ? data[i][:count] : "" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
