
  <div class="alert alert-success" role="alert">Thank you! Below you can review your last five answers you submitted. </div>
  <p>Think again about your choices, and whether you were consistent in how you matched the different ingredients to food groups. Remember, the best answer should list ALL food groups for each of the ingredients. Do you still think your answers were correct? Developing a good “nutrition gut” takes time and experience. Reflecting on and correcting your earlier answers may help you become better at this task.
</p>
  <br/>


<% @summarizer.last_five_answers(@match_answer).each do |answer| %>
  <%= simple_form_for answer do |f| %>

    <%= f.hidden_field :meal_id %>
    <%= f.hidden_field :component_name %>
    <%= f.hidden_field :user_id %>
    <h4><%= answer.component_name %></h4>
    <div class="col-md-5"><%= image_tag answer.meal.photo, :id => "photo_#{answer.id}_#{answer.component_name.squish.downcase.tr(" ","_")}" %></div>
    <div class="my_answer">
      <table>
        <tr><td class="community" colspan=4>Your Answer:</td></tr>
        <tr><td></td><td>What is it made of?</td><td colspan="3">What food group does it belong to?</td></tr>
        <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
        <% current_food_groups = answer.changed_answer ? answer.food_groups_update : answer.food_groups %>
        <% current_food_groups.each do |k, v| %>
          <tr><td></td><td><%= k %></td>
          <% Meal::GROUPS.each do |group| %>
            <td>
              <%= check_box_tag "match_answer[food_groups][#{k}][]", group, v.include?(group) %>
            </td>
          <% end %>
          </tr>
        <% end %>
      </table>
      <h5>*If you changed your answer, please explain why:</h5>
      <%= f.input :explanation, :label => false %>
    </div>
    <br/>
    <br/>
    <%= f.submit "Next", :class => "btn btn-primary" %>
    <br/><br/>
  <% end %>


<% end %>

<% @summarizer.last_five_answers(@match_answer).each do |answer| %>
    <script>
      jQuery(window).load(function(){
        new Mealyzer.Views.MatchesView({
          el: '.matches',
          geometry: <%= answer.location.to_json.html_safe %>,
          name: "<%= answer.component_name %>",
          source: "<%= "#{request.protocol}#{request.host_with_port}#{answer.meal.photo.url}" %>",
          id: "<%= "#{answer.id}_#{answer.component_name.squish.downcase.tr(" ","_")}" %>"
        });
      });
    </script>
<% end %>
