
<%= simple_form_for @match_answer do |f| %>
  <div class="alert alert-success" role="alert">Thank you! We asked other Turkers whether this answer was correct or not (and if not, why). </div>
  <p>Below you can see their feedback. Please review it carefully. Remember, the best answer should list ALL food groups for each of the ingredients. Developing a good “nutrition gut” takes time and experience. The feedback provided by your fellow Turkers may help you become better at this task.</p>
  <br/>
  <h4><%= @match_answer.component_name %></h4>
  <%= f.hidden_field :meal_id %>
  <%= f.hidden_field :component_name %>
  <%= f.hidden_field :user_id %>

  <div class="my_answer">
    <table>
      <tr><td class="community" colspan=4>Your Answer:</td></tr>
      <tr><td></td><td>What is it made of?</td><td colspan="3">What food group does it belong to?</td></tr>
      <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
      <% @match_answer.food_groups.each do |k, v| %>
        <tr><td></td><td><%= k %></td>
        <% Meal::GROUPS.each do |group| %>
          <td>
            <% if v.include?(group) %>
              <span class='glyphicon glyphicon-ok'></span>
            <% end %>
          </td>
        <% end %>
        </tr>
      <% end %>
      <tr>
        <td colspan=6 class="community">
          <p>What others thought of your answer:</p>
          <p>Correct: <%= @summarizer.evaluations(@match_answer).nil? ? "Not evaluated yet" : @summarizer.evaluations(@match_answer)[:correct] %> </p>
          <p>Incorrect: <%= @summarizer.evaluations(@match_answer).nil? ? "Not evaluated yet" : @summarizer.evaluations(@match_answer)[:incorrect] %> </p>
            <% if !@summarizer.evaluations(@match_answer)[:explanations].nil? %>
              <p>Why people thought it was wrong:</p>
              <ul>
                <% @summarizer.evaluations(@match_answer)[:explanations].each do |e| %>
                  <li>"<%= e %>"</li>
                <% end %>
              </ul>
            <% end %>
        </td>
        </tr>
    </table>
  </div>

  <br/>
  <%= f.submit "Next", :class => "btn btn-primary" %>
  <br/><br/>
<% end %>
