<%= simple_form_for @match_answer do |f| %>
  <div class="alert alert-success" role="alert">Thank you! We asked our dietitian whether your answer was correct or not (and if not, why).</div>
  <p>Below you can see their answers and comments. Please review it carefully.</p>

  <p>
    <ul>
      <li><strong class="same">GREEN</strong> indicates your answer matches the dietitian's.</li>
      <li><strong class="diff">RED</strong> indicates your answer does not match the dietitian's.</li>
    </ul>
  </p>

  <% unless @match_answer.food_groups_correct? %>
    <p>Remember, the best answer should list ALL food groups for each of the ingredients. If you still think your answer is correct, feel free to submit it as is. If you decide to change your answer, please explain <strong>what you think was incorrect</strong> in your original solution.</p>
  <% end %>

  <br/>
  <h4><%= @match_answer.component_name %></h4>
  <%= f.hidden_field :meal_id %>
  <%= f.hidden_field :component_name %>
  <%= f.hidden_field :user_id %>

  <div class="my_answer">
    <table>
      <tr><td class="community" colspan=4>Your Answer (With Dietitian Feedback):</td></tr>
      <tr><td></td><td>What is it made of?</td><td colspan="4">What food group does it belong to?</td></tr>
      <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
      <% current_food_groups = @match_answer.changed_answer ? @match_answer.food_groups_update : @match_answer.food_groups %>
      <% current_food_groups.each do |k, v| %>
        <tr><td></td><td><%= k %></td>
        <% Meal::GROUPS.each do |group| %>
          <td>
            <%= check_box_tag "match_answer[food_groups][#{k}][]", group, v.include?(group) %>
            <% correct = @match_answer.correct_for(ingredient: k, nutrient: group) %>
            <% cls = correct ? "same" : "diff" %>
            <span class="community <%= cls %>">
              <% if correct && v.include?(group) || !correct && !v.include?(group) %>
                <i class="fa fa-check"></i>
              <% end %>
            </span>
          </td>
        <% end %>
        </tr>
      <% end %>
      <tr>
        <td colspan=6 class="community">
          <p>Comments from the Dietitian:</p>
          <%= simple_format(%Q{"#{@match_answer.expert_feedback}"}) %>
        </td>
      </tr>
    </table>
    <% unless @match_answer.food_groups_correct? %>
      <h5>*If you changed your answer, please explain why:</h5>
      <%= f.input :explanation, label: false %>
    <% end %>
  </div>

  <br/>
  <%= f.submit "Next", class: "btn btn-primary" %>
<% end %>
