<%= simple_form_for @match_answer do |f| %>
  <div class="alert alert-success" role="alert">Thank you! We asked other Turkers what they thought about your solution and whether it was correct or incorrect. </div>
  <p>Below you can see their answers and explanations for what they thoughts was incorrect in your solution. You can see how many other turkers thought your solution was correct, or incorrect. Please think carefully whether you agree or disagree with these assessments. Then look again at your own answer and think whether you still think it was correct. If you still think your answer is correct, feel free to submit it as is. If you decide to change your answer, please explain <strong>what you think was incorrect</strong> in your original solution.</p>
  <br/>
  <h4><%= @match_answer.component_name %></h4>
  <%= f.hidden_field :meal_id %>
  <%= f.hidden_field :component_name %>
  <%= f.hidden_field :user_id %>

  <div class="my_answer">
    <table>
      <tr><td class="community" colspan=4>Your Answer:</td></tr>
      <tr><td></td><td>What is it made of?</td><td colspan="3">What food group does it belong to?</td></tr>
      <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
      <% current_food_groups = @match_answer.changed_answer ? @match_answer.food_groups_update : @match_answer.food_groups %>
      <% current_food_groups.each do |k, v| %>
        <tr><td></td><td><%= k %></td>
        <% Meal::GROUPS.each do |group| %>
          <td>
            <%= check_box_tag "match_answer[food_groups][#{k}][]", group, v.include?(group) %>
          </td>
        <% end %>
        </tr>
      <% end %>
      <tr>
        <td colspan=6 class="community">
        <p>What others thought of your answer:</p>
          <p>Correct: <%= @summarizer.evaluations(@match_answer).nil? ? "Not evaluated yet" : @summarizer.evaluations(@match_answer)[:correct] %> </p>
          <p>Incorrect: <%= @summarizer.evaluations(@match_answer).nil? ? "Not evaluated yet" : @summarizer.evaluations(@match_answer)[:incorrect] %> </p>
            <% if !@summarizer.evaluations(@match_answer)[:explanations].nil? %>
              <p>Why people thought it was wrong:</p>
              <ul>
                <% @summarizer.evaluations(@match_answer)[:explanations].each do |e| %>
                  <li>"<%= e %>"</li>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>
    </table>
    <h5>*If you changed your answer, please explain why:</h5>
    <%= f.input :explanation, :label => false %>
  </div>

  <br/>
  <%= f.submit "Next", :class => "btn btn-primary" %>
<% end %>
