<div class="alert alert-success" role="alert">
  Thank you! Now take a look at what other Turkers thought of your answer!
</div>

<p>
  We asked other Turkers to evaluate some of the answers submitted with this HIT on their accuracy. If your answer was evaluated, you will see the results of their evaluation below. Please take time to examine the evaluations.
</p>

<p>
  <ul>
    <li><strong class="same">GREEN</strong> indicates most Turkers evaluated your answer as "correct.</li>
    <li><strong class="diff">RED</strong> indicates most Turkers evaluated your answer as "incorrect".</li>
    <li><strong class="tie">BLUE</strong> indicates that your answer was not evaluated, or that it received an equal number of "correct" and "incorrect" evaluations.</li>
  </ul>
</p>

<% if current_user.condition == 14 %>
  <p>The number of people who gave each answer is also shown.</p>
<% end %>

<p>We don’t know if these evaluations are correct, and are including
<%= current_user.condition == 13 ? "the most popular evaluation" : "the number of Turkers who provided these answers" %>
for each ingredient and macronutrient. We are also including explanations for where others disagreed with you so that you may form your own judgment.  Remember, the best answer should list ALL food groups for each of the ingredients. If you still think your answer is correct, feel free to submit it as is.  If you decide to change your answer, please explain <strong>what you think was incorrect</strong> in your original solution.</p>

<br/>
<h4><%= @match_answer.component_name %></h4>
<%= f.hidden_field :meal_id %>
<%= f.hidden_field :component_name %>
<%= f.hidden_field :user_id %>

<div class="my_answer">
  <table>
    <tr><td class="community" colspan=4>Your Answer (With Community Feedback):</td></tr>
    <tr><td></td><td>What is it made of?</td><td colspan="4">What food group does it belong to?</td></tr>
    <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
    <% @match_answer.food_groups.each do |k, v| %>
      <tr><td></td><td><%= k %></td>
      <% Meal::GROUPS.each do |group| %>
        <td>
          <%= check_box_tag "match_answer[food_groups][#{k}][]", group, v.include?(group) %>
          <% decision = @most_popular[k][group][:decision] %>
          <% match = decision == "yes" && v.include?(group) || decision == "no" && !v.include?(group) %>
          <% cls = decision == "tie" ? "tie" : (match ? "same" : "diff")  %>
          <span class="community <%= cls %>">
            <% if decision == "tie" %>
              <i class="fa fa-question"></i>
            <% elsif decision == "yes" %>
              <i class="fa fa-check"></i>
            <% else %>
            <% end %>
          </span>
          <% if current_user.condition == 14 %>
            <span class="community-count <%= cls %>">
              (<%= @most_popular[k][group][:count] %>/<%= @most_popular[k][group][:total] %>)
            </span>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
    <tr>
      <td colspan=6 class="community">
        <% if @explanations.present? %>
          <p>Comments from the Community:</p>
          <ul>
            <% @explanations.each do |e| %>
              <li><%= simple_format(e) %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
    </tr>
  </table>
  <% unless @match_answer.food_groups_correct? %>
    <h5>*If you changed your answer, please explain why:</h5>
    <%= f.input :explanation, label: false %>
  <% end %>
</div>

<br/>
<%= f.submit "Next", class: "btn btn-primary" %>
