<div class="alert alert-success" role="alert">Thank you! Now compare your answer with the most popular community choices.</div>

<p>The most popular answers from other Turkers are shown below next to your answers. Please review them carefully.
  <ul>
    <li><strong class="same">GREEN</strong> indicates your answer matches the most popular.</li>
    <li><strong class="diff">RED</strong> indicates your answer does not match the most popular.</li>
    <li><strong class="tie">BLUE</strong> indicates there was a tie among the popular answers, and your answer matched one of them.</li>
  </ul>
</p>

<% if current_user.condition == 14 %>
  <p>The number of people who gave each answer is also shown.</p>
<% end %>

<p>Remember, the best answer should list ALL food groups for each of the ingredients. If you still think your answer is correct, feel free to submit it as is. If you decide to change your answer, please explain <strong>what you think was incorrect</strong> in your original solution.</p>

<br/>
<h4><%= @match_answer.component_name %></h4>
<%= f.hidden_field :meal_id %>
<%= f.hidden_field :component_name %>
<%= f.hidden_field :user_id %>

<div class="my_answer">
  <table>
    <tr><td class="community" colspan=4>Your Answer (With Community Feedback):</td></tr>
    <tr><td></td><td>What is it made of?</td><td colspan="4">What food group does it belong to?</td></tr>
    <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
    <% current_food_groups = @match_answer.changed_answer ? @match_answer.food_groups_update : @match_answer.food_groups %>
    <% current_food_groups.each do |k, v| %>
      <tr><td></td><td><%= k %></td>
      <% Meal::GROUPS.each do |group| %>
        <td>
          <%= check_box_tag "match_answer[food_groups][#{k}][]", group, v.include?(group) %>
          <% decision = @most_popular[k][group][:decision] %>
          <% match = decision == "yes" && v.include?(group) || decision == "no" && !v.include?(group) %>
          <% cls = decision == "tie" ? "tie" : (match ? "same" : "diff")  %>
          <span class="community <%= cls %>">
            <% if decision == "tie" %>
              <i class="fa fa-question"></i>
            <% elsif decision == "yes" %>
              <i class="fa fa-check"></i>
            <% else %>
            <% end %>
          </span>
          <% if current_user.condition == 14 %>
            <span class="community-count <%= cls %>">
              (<%= @most_popular[k][group][:count] %>/<%= @most_popular[k][group][:total] %>)
            </span>
          <% end %>
        </td>
      <% end %>
      </tr>
    <% end %>
    <tr>
      <td colspan=6 class="community">
        <% if @explanations.any? %>
          <p>Comments from the Community:</p>
          <ul>
            <% @explanations.each do |e| %>
              <li><%= simple_format(e) %></li>
            <% end %>
          </ul>
        <% end %>
      </td>
    </tr>
  </table>
  <% unless @match_answer.food_groups_correct? %>
    <h5>*If you changed your answer, please explain why:</h5>
    <%= f.input :explanation, label: false %>
  <% end %>
</div>

<br/>
<%= f.submit "Next", class: "btn btn-primary" %>
