<div class="matches">
  <div class="row">
    <div class="col-md-10">
      <br/>
    </div>
  </div>
  <div class="row">
  <%= render partial: "shared/flash_messages", flash: flash %>
    <div class="col-md-5">
      <%= image_tag @match_answer.meal.photo, :id => "photo_#{@match_answer.id}_#{@match_answer.component_name}" %>
      <% #DRAW Rectangle %>
    </div>
    <div class="col-md-6">
      <h3><%= @match_answer.meal.food_options unless @match_answer.condition == 7 %></h3>
      <%= render :partial => "condition_#{@match_answer.condition}" %>
    </div>
  </div>
</div>

  <script>
    jQuery(window).load(function(){
      new Mealyzer.Views.MatchesView({
        el: '.matches',
        geometry: <%= @match_answer.location.to_json.html_safe %>,
        name: "<%= @match_answer.component_name %>",
        source: "<%= "#{request.protocol}#{request.host_with_port}#{@match_answer.meal.photo.url}" %>",
        id: "<%= '#{@match_answer.id}_{@match_answer.component_name}' %>"
      });
    });
  </script>

