<div class="matches">
  <div class="row">
    <div class="col-md-10">
      <br/>
    </div>
  </div>
  <div class="row">
  <%= render partial: "shared/flash_messages", flash: flash %>
    <div class="col-md-5">
      <%= meal_photo(@match_answer.meal) %>
    </div>
    <div class="col-md-7">
      <h3><%= @match_answer.meal.food_options unless @match_answer.condition == 7 %></h3>
      <%= render :partial => "condition_#{@match_answer.condition}" %>
    </div>
  </div>
</div>

<%= render("matches_view_js") %>
