<div class="matches">
  <div class="row">
    <div class="col-md-10">
      <br/>
      <h3>Instructions</h3>
      <p>In each photo you see below, a box containing one food item will be highlighted. Next to it, you will see a description of this item and its ingredients identified by other Turkers. Your job is to match each of these ingredients to the four food groups: protein, fat, carbohydrate, and fiber. The ingredients can be matched to one dominant food group (for example bread is mostly carbohydrate), or to several food groups simultaneously (for example milk is a carbohydrate as well as protein and fat). The ultimate goal is to arrive at the nutritional breakdown for this meal: estimated weight/volume of different food groups in this meal. This HIT is one step towards that goal.
      </p>

      <p>
      Once you decided on a solution, check appropriate check boxes and click “Submit” button. This HIT includes 28 matching jobs and 17 different images of meals; most of the meals have multiple components, each with different ingredients that need to be matched separately. You will need to complete all 28 jobs to collect payment. Please feel free to take as much time as you think is necessary to come up with the best answer. This HIT should take 4-8 minutes.</p>
    </div>
  </div>
  <div class="row">
  <% if !@match_answer.user.unique? && User::REQUIRE_UNIQUE %>
    <div class="alert alert-danger" role="alert">
      Oops! We are unable to offer you this HIT because we need unique Turkers. Thank you for your interest!
    </div>
  <% end %>
  <%= render partial: "shared/flash_messages", flash: flash %>
    <div class="col-md-5">
      <%= image_tag @match_answer.meal.photo, :id => "photo", :class => "annotatable" %>
      <% #DRAW Rectangle %>
    </div>
    <div class="col-md-6">
      <h3>(<%= @match_answer.num_tests + 1 %>/<%= User::MAX_TESTS %>) <%= @match_answer.meal.food_options %></h3>

      <%= simple_form_for @match_answer do |f| %>
        <h3><%= @match_answer.component_name %></h3>
        <%= f.hidden_field :meal_id %>
        <%= f.hidden_field :component_name %>
        <%= f.hidden_field :user_id %>

        <table>
          <tr><td>What is it made of?</td><td colspan="3">What food group does it belong to?</td></tr>
          <tr class="groups">
            <td></td>
            <% Meal::GROUPS.each do |h| %>
              <td><%= h %></td>
            <% end %>
          </tr>
          <% @match_answer.items.each do |item| %>
            <tr>
              <td><label><%= item %></label></td>
              <% Meal::GROUPS.each do |group| %>
                <td class="cb">
                 <%= check_box_tag "match_answer[food_groups][#{item}][]", group, @match_answer.item_has_group?(item, group), :disabled => @disabled %>
              <% end %>
            </tr>
          <% end %>
        </table>
        <br/>
        <%= f.submit "Submit", :class => "btn btn-primary", :disabled => @disabled %>
      <% end %>
    </div>
  </div>
</div>

<script>
  jQuery(window).load(function(){
    new Mealyzer.Views.MatchesView({
      el: '.matches',
      geometry: <%= @match_answer.location.to_json.html_safe %>,
      name: "<%= @match_answer.component_name %>",
      source: "<%= "#{request.protocol}#{request.host_with_port}#{@match_answer.meal.photo.url}" %>"
    });
  });
</script>
