<h2>Just a few questions to finish up...</h2><br/><br/>

<%= render partial: "shared/flash_messages", flash: flash %>

<%= form_for @user, method: 'put', url: '/finish' do |f| %>
  <ol>
    <% t("survey.post_test_questions").each do |question| %>
      <li><strong><%= question.last %></strong></li>
      <ul>
      <% t("survey.#{User::POST_TEST_OPTION_SETS[question.first]}").each_with_index do |response, index| %>
        <li>
          <% checked = nil %>
          <% unless @user.post_test.nil? %>
            <% checked = ((@user.post_test[question.first].to_i == index + 1) ? :checked : nil) %>
          <% end %>
          <%= radio_button_tag("post_test[#{question.first}]", response.first, checked) %>
          <label><%= response.last %></label>
        </li>
      <% end %>
      </ul>
    <% end %>

    <% for i in 1..6 do %>
      <% if @user.condition == i %>
        <li><strong><%= t("survey.condition_specific_questions").values[i] %></strong></li>
        <ul>
        <% t("survey.answers_agree").each_with_index do |response, index| %>
        <li>
          <% checked = nil %>
          <% unless @user.post_test.nil? %>
            <% checked = (@user.post_test[t("survey.condition_specific_questions").keys[i]].to_i == index + 1) ? :checked : nil %>
          <% end %>
          <%= radio_button_tag("post_test[#{t('survey.condition_specific_questions').keys[i]}]", response.first, checked) %>
          <label><%= response.last %></label>
        </li>
        <% end %>
      <% end %>
    <% end %>

  </ol>
  <%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>
