
<%= simple_form_for @match_answer do |f| %>
  <div class="alert alert-success" role="alert">Thank you! Other Turkers provided their answers as well.</div>
  <p>Below you can see your own answers and answers by other Turkers. Think carefully
  about the answers. You can decide to stay with your own, choose answers by others, or revise you own answers.</p>
  <br/>
  <h4><%= @match_answer.component_name %></h4>
  <%= f.hidden_field :meal_id %>
  <%= f.hidden_field :component_name %>
  <%= f.hidden_field :user_id %>

  <div class="my_answer">
    <table>
      <tr><td class="community" colspan=4>Your Answer:</td></tr>
      <tr><td></td><td>What is it made of?</td><td colspan="3">What food group does it belong to?</td></tr>
      <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
      <% @match_answer.food_groups.each do |k, v| %>
        <tr><td></td><td><%= k %></td>
        <% Meal::GROUPS.each do |group| %>
          <td>
            <% if v.include?(group) %>
              <span class='glyphicon glyphicon-ok'></span>
            <% end %>
          </td>
        <% end %>
        </tr>
      <% end %>
      <tr><td colspan=6 class="community">Other turkers who suggested this answer: <%= @summarizer.num_matches(@match_answer) %></td></tr>
    </table>
  </div>

  <% # list of other community answers %>
  <% @summarizer.other_answers(@match_answer).each_with_index do |(food_groups, num_matches), index| %>
     <div class="other_answers">
      <table class="<%= cycle('even', 'odd') %>">
        <tr><td class="community" colspan=4>Alternative Answer #<%= index + 1 %>:</td></tr>
        <tr><td></td><td>What is it made of?</td><td colspan="3">What food group does it belong to?</td></tr>
        <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
        <% food_groups.each do |k, v| %>
          <tr><td></td><td><%= k %></td>
          <% Meal::GROUPS.each do |group| %>
            <td>
              <% if v.include?(group) %>
                <span class='glyphicon glyphicon-ok'></span>
              <% end %>
            </td>
          <% end %>
          </tr>
        <% end %>
        <tr><td colspan=6 class="community">Other turkers who suggested this answer: <%= num_matches %></td></tr>
      </table>
    </div>
  <% end %>

  <br/>
  <%= f.submit :submit, :class => "btn btn-primary" %>
<% end %>
