<%= simple_form_for @match_answer do |f| %>
  <div class="alert alert-success" role="alert">Thank you! Other Turkers provided their answers as well.</div>
  <p>Below you can see your own answers and answers by other Turkers. Think carefully
  about the answers. You can decide to stay with your own, choose answers by others, or revise you own answers.</p>
  <br/>
  <h4><%= @evaluating.component_name %></h4>
  <%= f.hidden_field :meal_id %>
  <%= f.hidden_field :component_name %>
  <%= f.hidden_field :user_id %>

  <div class="my_answer">
    <table>
      <tr><td class="community" colspan=4>Your Answer:</td></tr>
      <tr><td></td><td>What is it made of?</td><td colspan="3">What food group does it belong to?</td></tr>
      <tr class="groups"><td></td><td></td><% Meal::GROUPS.each do |h| %><td><%= h %></td><% end %></tr>
      <% current_food_groups = @evaluating.food_groups %>
      <% current_food_groups.each do |k, v| %>
        <tr><td></td><td><%= k %></td>
        <% Meal::GROUPS.each do |group| %>
          <td>
            <%= check_box_tag "match_answer[food_groups][#{k}][]", group, v.include?(group) %>
          </td>
        <% end %>
        </tr>
      <% end %>
      <tr><td colspan=6 class="community">Other turkers who suggested this answer: <%= @summarizer.num_matches(@match_answer) %></td></tr>
    </table>
    <h5>*If you changed your answer, please explain why:</h5>
    <%= f.input :explanation, :label => false %>
    <br/>
    <div class="impact">
      <h5>*What do you think is the impact of the change you made on the overall nutritional assessment?</h5>
      <% MatchAnswer::IMPACT_SCORES.each do |k, v| %>
        <%= radio_button_tag "match_answer[impact][#{k}][]", k %>
        <label><%= v %></label>
        <br/>
      <% end %>
    </div>
  </div>

  <br/>
  <%= f.submit :submit, :class => "btn btn-primary" %>
<% end %>
