<div class="matches">
  <div class="row">
    <div class="col-md-10">
      <h3>Instructions</h3>
      <p>In each photo below, a box containing  one food item will be highlighted. Next to it, you will see a description of this item and its ingredients identified by you or other Turkers. Your job is to match each of these ingredients to the four food groups. These food groups include carbohydrates, fats, protein, and fiber. You need to map each ingredient to one food group.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <%= image_tag @meal.photo %>
      <% #DRAW Rectangle %>
    </div>
    <div class="col-md-6">
      <h3><%= @meal.food_options %></h3>

      <%= simple_form_for @match_answer do |f| %>
        <h3><%= @meal.rand_component.keys[0] %></h3>
        <table>
          <tr><td>What is it made of?</td><td colspan="3">What food group does it belong to?</td></tr>
          <tr class="groups">
            <td></td>
            <% Meal::GROUPS.each do |h| %>
              <td><%= h %></td>
            <% end %>
          </tr>
          <% @meal.rand_component.values[0].each do |g| %>
            <tr>
              <td><label><%= g %></label></td>
              <% Meal::GROUPS.each do |h| %>
                <td class="cb"><%= check_box_tag h %></td>
              <% end %>
            </tr>
          <% end %>
        </table>
        <br/>
        <%= f.submit :submit, :class => "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>