<!DOCTYPE html>
<html>
<head>
  <title>Mealyzer</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if session[:tryout_mode] && current_user.present? %>
      <div id="tryout-header" class="row">
        <strong>Tryout Mode</strong>
        &nbsp;&nbsp;

        Study ID: <strong><%= current_user.study_id %></strong>
        &nbsp;&nbsp;

        Phase:
        <strong>
          <%= current_user.study_phase %>
          <% if current_user.study_phase == "seed" %>
            (<%= current_user.phase_progress %>)
          <% end %>
        </strong>
        &nbsp;&nbsp;

        Condition:
        <strong>
          <%= current_user.condition %>
          <% if current_user.study_phase == "main" %>
            (<%= current_user.condition_progress %>)
          <% end %>
        </strong>

        &nbsp;&nbsp;
        <%= link_to("Back to Admin Panel", "/admin") %>
      </div>
    <% end %>
    <div class="row">
      <br/>
      <%= yield %>
    </div>
  </div>
  <%= javascript_tag do %>
    jQuery("form").preventDoubleSubmission();
  <% end %>
</body>
</html>
