<!DOCTYPE html>
<html>
<head>
  <title>MealyzerStudy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://annotorious.github.com/latest/annotorious.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <h2>Columbia Research Study</h2>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>
</body>
</html>
